<% if target && target.errors.any? %>
  <div id="errorExplanation" class="errorExplanation">
    <h2><%= pluralize(target.errors.count, t(:error)) + t(:prohibited_this_record) %>:</h2>
    <p><%= t(:problems_in_following_fields) %>:</p>
     <ul>
     <% target.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
     </ul>
  </div>
<% end %>
